# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "winpt-client" ]
  pull_request:
    branches: [ "winpt-client" ]
  tags:
    - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: check
      uses: actions/checkout@v3
    - name: zip
      run: zip -r winpt-client.zip ./*
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
             winpt-client.zip
               

